body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.form-control {
    clear: both;
}

.Localizacoes {
    overflow: scroll;
    width: 200px;
    height: 100px;
    border: 3px !important;
    border-color: #000 !important;
}

.Marker {
    display: inline;
}

.MarkerRemover {
    display: inline;
    color: salmon;
}

.blocoMarkerPontoParada {
    border: 1px solid;
    border-color: #000000;
    background-color: #62dd19;
    border-radius: 3px;
    margin-bottom: 5px;
}

.blocoMarkerPontoPassagem {
    border: 1px solid;
    border-color: #000;
    background-color: #c7cbd0;
    border-radius: 3px;
    margin-bottom: 5px;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body.loading {
    overflow: hidden;
}

    body.loading .modal {
        display: block;
    }

.ui-widget-header {
    border: 1px solid #aaaaaa /*{borderColorHeader}*/ !important;
    background: #acbae1 /*{bgColorHeader}*/ !important;
}

.pagination-centered {
    text-align: center !important;
}

.bs-example {
    margin: 10px;
}

table tr td,
table tr th {
    text-align: center;
}
