@{
    ViewBag.Title = "Index";
    ViewBag.Pagina = "Home";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <h2>FindBus</h2>
        <p>
            Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, 
           Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! 
           Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
        </p>
        <p>
            Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, 
           Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! 
           Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Baixe o Aplicativo</h3>
            </div>
            <div class="panel-body">
                <img src="@string.Format("http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl={0}{1}", new FindBus.Models.Versao().RetornaUrlRoot(), Url.Action("RetornaVersaoApp", "Versao"))" />
                <a href="@Url.Action("RetornaVersaoApp", "Versao")" class="btn btn-success btn-large">Baixar APP <i class="icon-white icon-download-alt"></i></a>
            </div>
        </div>
    </div>
</div>
