body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.form-control {
    clear: both;
}

.Localizacoes {
    overflow: scroll;
    width: 200px;
    height: 100px;
}

.Marker {
    display: inline;
}

.MarkerRemover {
    display: inline;
    color: salmon;
}

.blocoMarker {
    border: 2px solid;
    background-color: #CCCCCC;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('file:images\ajax-loader.gif') 50% 50% no-repeat;
}
body.loading {
    overflow: hidden;   
}
body.loading .modal {
    display: block;
}